.main-card {
  background-color: var(--card-background);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
  width: 30%;
  border-radius: 12px;
  color: black;
  padding: 20px;
  width: 81%;
  margin: 0 auto;
  text-align: center;
}

.drinks-selects {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-around;
  margin: 0 auto;
}

.drinks-selects-box {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  align-items: center;
}

.drink-select {
  font-size: 1rem;
  width: 30%;
  border: 2px solid var(--gradient-middle);
  border-radius: 8px;

}

.drink-select select {
  font-size: 1rem;
  border: none;
  background: none;
  color: #586069;

}

.drinks-selects button {
  font-size: 1rem;
  width: 17%;
  padding: 0.55rem;
  border: 2px solid var(--gradient-middle);
  border-radius: 8px;
  color: #586069;
  background: none;
  cursor: pointer;
  
}

.drinks-selects button:hover{
  background: var(--gradient-middle);
  color: white;
}