.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  margin-top: 20px;
}

h1 {
  color: #333;
  text-align: center;
}

#food-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.food-item {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.food-item:hover {
  background-color: #e0e0e0;
}

#selected-foods {
  margin-bottom: 20px;
}

.selected-food {
  background-color: #0a0a0a;
  padding: 5px 10px;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
}
.selected-food button {
  color: white;
  border: none;
  margin-left: 10px;
  background: none;
}

#total-calories {
  font-weight: bold;
  color: #4caf50;
}

